<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h3>Edit Doctor</h3>
            </div>
      
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <!-- general form elements -->
                <div class="card">
                    <div class="card-header">
                        <p class="card-title"> Edit Doctor Information</p>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form">    
                        <div class="card-body">
                            <div class="row ">
                                <div class="form-group col-md-6">
                                    <label for="exampleInputDoctorId">Doctor Id</label>
                                    <input type="text" class="form-control" id="exampleInputDoctorId"
                                        placeholder="Enter Doctor Id">
                                </div>
                             
                            <div class="form-group col-md-6">
                                <label for="exampleInputDoctorname">Doctor Name</label>
                                <input type="text" class="form-control" id="exampleInputDoctorname"
                                    placeholder="Enter DoctorName">
                            </div>
                                                
                        </div>
                        <div class="row ">
                            <div class="form-group col-md-6">
                                <label for="exampleInputDate">Date of birth</label>
                                <input type="date" class="form-control" id="exampleInputDate"
                                    placeholder="">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="exampleInputAge">Age</label>
                                <input type="password" class="form-control" id="exampleInputAge"
                                    placeholder="Enter Age">
                            </div>
                         
                        </div>
                        <div class="row ">
                            <div class="form-group col-md-6">
                                <label for="exampleInputPassword">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword"
                                    placeholder="Enter Password">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="exampleInputPassword">Re-Enter Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword"
                                    placeholder="Re-Enter Password">
                            </div>
                        </div>
                        <div class="row ">
                            <div class="form-group col-md-6">
                                <label for="exampleInputPhonenumber">Phone Number</label>
                                <input type="text" class="form-control" id="exampleInputPhonenumber"
                                    placeholder="Phone">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="exampleInputEmail1">E-mail</label>
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                    placeholder="Enter Email">
                            </div>
                            
                        </div>
                        <div class="row">
                        <div class="form-group col-md-6">
                            <label for="exampleInputGender">Gender</label>
                           <select class="form-control" id="gender">
                               <option>Male</option>
                               <option>Female</option>
                               <option>Others</option>
                           </select>        
                        </div>                 
                        <div class="form-group col-md-6 ">
                            <label for="exampleInputAddress">Address</label>
                            <textarea placeholder="Address" class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
                        </div>
                    </div>
                            <div class="form-group">
                                <label for="exampleInputFile">Doctor Image</label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="exampleInputFile">
                                        <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                    </div>
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="">Upload</span>
                                    </div>       
                                </div>
                                <p class="text">Must be less than 512kb. Only JPG PNG gif</p>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                            </div><br>
                            <div class="row">
                            <div class="form-group col-sm-1">
                               <button class="btn  btn-lg ">Update</button> </div>
                              
                            </div>
                          
                        </div>
                        <!-- /.card-body -->
                        <!-- <address>
                Written by <a href="mailto:info@rijsat.com">Rijwan Ansari</a>.<br>
                Visit us at:<br>
                rijsat.com<br>
                kathmandu, Baneswor<br>
                Nepal
              </address>-->

                        <map name="london">
                            <area shape="circle" coords="200,75,50" href="westminster.html" alt="Westminster">
                        </map>
                        <div class="card-footer">
                            Sample Demo by rijsat.com test
                        </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
