<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h3>Add Appointment</h3>
            </div>
      
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <!-- general form elements -->
                <div class="card">
                    <div class="card-header">
                        <p class="card-title">Appointment Information</p>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form">    
                        <div class="card-body">
                            <div class="row ">
                                <div class="form-group col-md-6">
                                    <label for="exampleInputDoctorId">Patient Id</label>
                                    <input type="text" class="form-control" id="exampleInputDoctorId"
                                        placeholder="Enter Doctor Id">
                                </div>
                             
                            <div class="form-group col-md-6">
                                <label for="exampleInputDepartment">Department</label>
                                <select class="form-control" id="department">
                                <option></option>
                                <option>Neuro</option>
                                <option>Cardiology</option>
                                <option>Oncology</option>
                                <option>Radiology</option>
                                <option>Others</option>
                                </select>
                            </div>
                                                
                        </div>
                        <div class="row ">
                            <div class="form-group col-md-6">
                                <label for="exampleInputDoctorName">DoctorName</label>
                                <input type="text" class="form-control" id="exampleInputDoctorName"
                                    placeholder="Enter Doctor Name">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="exampleInputAge">Age</label>
                                <input type="text" class="form-control" id="exampleInputAge"
                                    placeholder="Enter your Age">
                            </div>
                         
                        </div>
                        <div class="row ">
                            <div class="form-group col-md-6">
                                <label for="exampleInputDate">Appointment Date</label>
                                <input type="date" class="form-control" id="exampleInputDate"
                                    placeholder="">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="exampleInputtime">Time Slot</label>
                                <select class="form-control" id="time">
                                    <option></option>
                                    <option>10Am-11Am</option>
                                    <option>11Am-12Pm</option>
                                    <option>12Pm-01Pm</option>
                                    <option>01Pm-02Pm</option>
                                    <option>02Pm-03Pm</option>
                                    <option>03Pm-04Pm</option>
                                    <option>04Pm-05Pm</option>
                                    <option>05Pm-06Pm</option>

                                </select> 
                            </div>
                        </div>
                        <div class="row ">
                            <div class="form-group col-md-6">
                                <label for="exampleInputPhonenumber">Phone Number</label>
                                <input type="text" class="form-control" id="exampleInputPhonenumber"
                                    placeholder="Enter Your Phone">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="exampleInputEmail1">E-mail</label>
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                    placeholder="Enter Your Email">
                            </div>
                            
                        </div>
                        <div class="row">
                        <div class="form-group col-md-6">
                            <label for="exampleInputGender">Gender</label>
                           <select class="form-control" id="gender">
                               <option>Male</option>
                               <option>Female</option>
                               <option>Others</option>
                           </select>        
                        </div>                 
                        <div class="form-group col-md-6 ">
                            <label for="exampleInputProblem">Problem</label>
                            <textarea placeholder="Problem" class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
                        </div>
                    </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                            </div>
                            
                          
                        </div>
                        <!-- /.card-body -->
                        <!-- <address>
                Written by <a href="mailto:info@rijsat.com">Rijwan Ansari</a>.<br>
                Visit us at:<br>
                rijsat.com<br>
                kathmandu, Baneswor<br>
                Nepal
              </address>-->

                        <map name="london">
                            <area shape="circle" coords="200,75,50" href="westminster.html" alt="Westminster">
                        </map>
                        <div class="card-footer">
                            <div class="row">
                                <div class="form-group col-sm-1">
                                   <button class="btn btn-info btn-lg ">Submit</button> </div>
                                   <div class="form-group col-sm-2">
                                   <button class="btn btn-info btn-lg btn-dark" >Reset</button></div>
                                </div>
                        </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
